<!doctype html>
<html>
<head>
	<meta charset="utf-8" />

	<meta name="viewport" content="width=device-width" />

	<title>Trail</title>

	<link rel="stylesheet" href="/stylesheets/normalize.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
	<link rel="stylesheet" href="/stylesheets/foundation.min.css">

	<script src="/js/vendor/custom.modernizr.js"></script>    
</head>
<body>
	<div class="roomlist" style="border:1px solid #ccc; overflow:auto;">
		<a id="createRoomButton" href="#" class="createRoomButton button">Create Room</a>
	</div>

	<div class="chatbox">
	</div>

	<div id="createRoomModal" class="reveal-modal">
		<form data-abide id='createRoomForm'>
			<fieldset>
				<legend>Create Room</legend>
				<div class="row">
					<div class="large-12 columns">
						<label>Room Name <small>*</small></label>
						<input id='nameText' type="text" required pattern='[a-zA-Z0-9][a-zA-Z0-9\\s]*' placeholder="Enter the name of your chatroom">
						<small class='error'>Invalid chatroom name</small>
					</div>
				</div>

				<div class="row">
					<div class="large-12 columns">
						<label>Initial Post <small>*</small></label>
						<textarea id='contentText' required pattern='(.)+' rows="8" cols="50" placeholder="Enter the text for the initial post for this room" style="resize:none; height: 10%"></textarea>
						<small class='error'>Initial content cannot be empty!</small>
					</div>
				</div>

				<div class="row">
					<div class="small-3 columns">
						<button type="submit" id="confirmButton">Confirm</a>
					</div>
					<div class="large-9 columns">
						<a id="cancelButton" href="#" class="cancelButton button">Cancel</a>
					</div>
				</div>

			</fieldset>
		</form>
	</div>

	<script>
		document.write('<script src=/js/vendor/'
    	+ ('__proto__' in {} ? 'zepto' : 'jquery')
    	+ '.js><\/script>');
	</script>

    <script type='text/javascript' src='https://cdn.firebase.com/v0/firebase.js'></script>
    
    <!-- Foundation -->
    <script src='/js/foundation.min.js'></script>

    <script type='text/javascript' src='/js/trail.js'></script>
    <script type='text/javascript' src='/js/rooms.js'></script>

	<script>
	  $(document).foundation();
	</script>
</body>
</html>
