<!doctype html>
<html>
<head>
	<meta charset="utf-8" />

	<meta name="viewport" content="width=device-width" />

	<title>Trail</title>

	<link rel="stylesheet" href="/stylesheets/normalize.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
	<link rel="stylesheet" href="/stylesheets/foundation.min.css">
	<link rel="stylesheet" href = "/stylesheets/global.css"/>
	<link href='//fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>

	<script src="/js/vendor/custom.modernizr.js"></script>    
	<script src="/js/moment.min.js"></script>
</head>
<body>
    <div id="sidebar">
        <!--<div id="sidebar-tabs">-->
        <!--    <a id="room-list-tab" class="sidebar-tab button tab-selected">Rooms</a>-->
            <!--<a id="history-tab" class="sidebar-tab button">History</a>-->
        <!--</div>-->
        <div id="room-list" class="sidebar-pane">
		    <a id="createRoomButton" href="#" class="createRoomButton button">Create Room</a>
	    </div>
	    <!--<div id="history" class="sidebar-pane">-->
	        
	    </div>
    </div>

    <div id="center-container">
        <div id="infovis">
        </div>
	</div>

    <!--
	<div class="chatbox" id="infovis">
	</div>
	-->

	<div id="createRoomModal" class="reveal-modal">
		<form data-abide id='createRoomForm'>
			<fieldset>
				<legend>Create Room</legend>
				<div class="row">
					<div class="large-12 columns">
						<label>Room Name <small>*</small></label>
						<input id='nameText' type="text" required pattern='[a-zA-Z0-9][a-zA-Z0-9\\s]*' placeholder="Enter the name of your chatroom">
						<small class='error'>Invalid chatroom name</small>
					</div>
				</div>

				<div class="row">
					<div class="large-12 columns">
						<label>Initial Post <small>*</small></label>
						<textarea id='contentText' required pattern='(.)+' rows="8" cols="50" placeholder="Enter the text for the initial post for this room" style="resize:none; height: 10%"></textarea>
						<small class='error'>Initial content cannot be empty!</small>
					</div>
				</div>

				<div class="row">
					<div class="small-3 columns">
						<button type="submit" id="confirmButton">Confirm</a>
					</div>
					<div class="large-9 columns">
						<a id="cancelButton" href="#" class="cancelButton button">Cancel</a>
					</div>
				</div>

			</fieldset>
		</form>
	</div>

	<div id="createPostPane">
		<form data-abide id='createPostForm'>
			<fieldset>
				<legend>Add Post</legend>
				<div class="row" style="margin-bottom: 10px">
				    <div class="large-12 columns">
				        <label>Replying to:</label>
				        <div id="parents"></div>
				    </div>
				</div>
				<div class="row">
					<div class="large-12 columns">
						<label>Initial Post <small>*</small></label>
						<textarea id='postContentText' required pattern='(.)+' rows="8" cols="50" placeholder="Post content" style="resize:none; height: 10%"></textarea>
						<small class='error'>Post cannot be empty!</small>
					</div>
				</div>

				<div class="row">
					<div class="small-3 columns">
						<button type="submit" id="postButton">Post</a>
					</div>
					<div class="large-9 columns">
						<a id="postCancelButton" href="#" class="cancelButton button">Cancel</a>
					</div>
				</div>

			</fieldset>
		</form>
	</div>

	<script>
		document.write('<script src=/js/vendor/'
    	+ ('__proto__' in {} ? 'zepto' : 'jquery')
    	+ '.js><\/script>');
	</script>

    <script type='text/javascript' src='https://cdn.firebase.com/v0/firebase.js'></script>
    <script type='text/javascript' src='/js/jit-yc.js'></script>
    
    <!-- Foundation -->
    <script src='/js/foundation.min.js'></script>

    <script type='text/javascript' src='/js/trail.js'></script>
    <script type='text/javascript' src='/js/rooms.js'></script>

	<script>
	  $(document).foundation();
	</script>
</body>
</html>
