<!doctype html>
<html>
<head>
	<meta charset="utf-8" />

	<meta name="viewport" content="width=device-width" />

	<title>Trail</title>

	<link rel="stylesheet" href="/stylesheets/normalize.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
	<link rel="stylesheet" href="/stylesheets/foundation.min.css">

	<script src="/js/vendor/custom.modernizr.js"></script>    
</head>
<body>
	<div class="roomlist" style="border:1px solid #ccc; overflow:auto;">
		<a id="createRoomButton" href="#" class="createRoomButton button">Create Room</a>
	</div>

	<div class="chatbox">
	</div>

	<div id="createRoomModal" class="reveal-modal">
		<form>
			<fieldset>
				<legend>Create Room</legend>
				<div class="row">
					<div class="large-12 columns">
						<label>Room Name</label>
						<input type="text" placeholder="Enter the name of your chatroom">
					</div>
				</div>

				<div class="row">
					<div class="large-12 columns">
						<label>Initial Post</label>
						<textarea rows="8" cols="50" placeholder="Enter the text for the initial post for this room" style="resize:none; height: 10%"></textarea>
					</div>
				</div>
			</fieldset>
		</form>
	</div>

	<script>
		document.write('<script src=/js/vendor/'
    	+ ('__proto__' in {} ? 'zepto' : 'jquery')
    	+ '.js><\/script>');
	</script>

    <script type='text/javascript' src='https://cdn.firebase.com/v0/firebase.js'></script>
    
    <!-- Foundation -->
    <script src='/js/foundation.min.js'></script>

    <script type='text/javascript' src='/js/trail.js'></script>
    <script type='text/javascript' src='/js/rooms.js'></script>

	<script>
	  $(document).foundation();
	</script>
</body>
</html>
