<!doctype html>
<html>
<head>
	<meta charset="utf-8" />

	<meta name="viewport" content="width=device-width" />

	<title>Trail</title>

	<link rel="stylesheet" href="/stylesheets/style.css">
	<link href='//fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>

	<script src="/js/moment.min.js"></script>
</head>
<body>
    <div id="sidebar">
    </div>

    <div id="center-container">
        <div class="post-container" id="parents"></div>
        <div class="post-container" id="current"></div>
        <div class="post-container" id="children"></div>
	</div>

    <script type='text/javascript' src='http://codeorigin.jquery.com/jquery-2.0.3.min.js'></script>
    <script type='text/javascript' src='https://cdn.firebase.com/v0/firebase.js'></script>
    <script type='text/javascript' src='/js/handlebars.runtime.min.js'></script>
    <script type='text/javascript' src='/js/post-template.js'></script>
    
    <script type='text/javascript' src='/js/trail.js'></script>

</body>
</html>
