body {
  padding: 50px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 200px;
	height: 100%;
	border:1px solid #ccc;
	overflow:auto;
	z-index:100;
}
#center-container {
    background-color: black;
    position:fixed;
    left: 200px;
    right: 0px;
    top:0;
    bottom:0;
}
.post-container {
    background-color:gray;
    position: absolute;
    top: 0;
    height: 100%;
    width: 30%;
    display: inline-block;
}
#parents { left: 0%; }
#current { left: 35%; }
#children { left: 70%; }

.post {
    background-color: white;
}
