body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.roomlist {
	position: fixed;
	top: 0;
	left: 0;
	width: 400px;
	height: 100%;
}

.createRoomButton {
	background-color: #2ba6cb !important;
	border-color: #2284a1 !important;
	width: 200px !important;
	height: 50px !important;
	left: 100px !important;
	right: 100px !important;
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

.roomButtonOdd {
	background-color: #2ba6cb !important;
	border-color: #2284a1 !important;
	width: 398px !important;
	height: 100px !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
	margin-bottom: 0px !important;
}

.roomButtonEven {
	background-color: #6ca7cb !important;
	border-color: #6384a1 !important;
	width: 398px !important;
	height: 100px !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
	margin-bottom: 0px !important;
}

.chatbox {
	position: absolute;
	top: 10px;
	bottom: 0px;
	left: 410px;
	right: 0px;
}

